@import "../common/app.common.style.variables";

#homeContent {
	height: 100%;
}

#materialLayout {
	height: 100%;
}



#homeView{
	opacity: 1;
	
	.cache {
		opacity: 0;
	}
	
	#imageLogo{

		width: 100%;
	}	
	md-display-1{
		color:rgb(255, 87, 34);
	}	

  .homeTitleContainer {
    background: {
      color : #6C7A89;
    }
    
    .reactMaterialImg {
      color: #000;
      height: 310px;
      width:310px;
    }
    
    .titleText {
      color: #CF000F;
      font-size: 45px;
      line-height: 48px;
      font-weight: 400;
    }
    
  }

	
}